*{
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
.main{
    width:100%;
    height:100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#102a42;
    background-color:  hsl(210, 36%, 96%);;
}
.container{
    max-width:620px;
    line-height: 24px;
}
.container__title{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container__title h2{
    font-size: 40px;
    letter-spacing:4px;
    line-height:40px;
    text-transform: capitalize; 
    margin-bottom: 1rem;
}
.underline{
    width: 100px;
    height: 5px;
    background:hsl(205, 78%, 60%);
    
}
.article{
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding:24px 32px;
    text-align: center;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
}
.article__img{
    width:150px;
    height:150px;
    border-radius:50%;
    position: relative;
    object-fit: cover;
}
.img-container{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.img-container::before{
    content: "";
    width: 100%;
    height: 100%;
    background: hsl(205, 78%, 60%);;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}
.img-container::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background:hsl(205, 78%, 60%);;
    color: white;
}

.article__name{
    letter-spacing:4px;
    line-height:16px;
    margin:0px 0px 4px ;
    text-transform: capitalize;
}

.article__jobs{
    color: #49a6e9;
    font-size: 14px;
    line-height:20px;
    margin:0px 0px 8px;
    text-transform: uppercase;
}

.article__info{
    color: #617d98;
    line-height: 24px;
    margin:0px 0px 12px;
}
.article__btn--left,.article__btn--right{
    color:#7cc3f5;
    display:inline-block;
    font-size:20px;
    font-weight:900;
    line-height:20px;
    text-align:center;
     border: none;
     background-color:white;
     margin:5px;
}
.article__btn--left,.article__btn--right:hover{
    cursor: pointer;
}
.btn{
    background-color:#b3dbf7;
border-color:#49a6e9;
border-radius:8px;
border-style:outset;
border-width:2px;
color:#327eb4;
display:inline-block;
font-size:13.3333px;
margin:8px 0px 0px;
padding:4px 8px;
text-align:center;
text-transform:capitalize;
}
.btn:hover{
    cursor: pointer;
}
